{% extends "base.html" %}

{%block content%}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
      <!--
    <div class="mb-3">
      <label for="nickname" class="form-label">Nickname</label>
      <input type="text" class="form-control" id="nickname" name="nickname">
    </div>
    -->
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <input type="text" class="form-control" id="message" name="message">
    </div>
    <button type="submit" class="btn btn-primary">Send Tweet</button>
  </div>
  </form>
{%endblock%}